* {
    box-sizing: border-box;
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 4%;

    width: calc(100% - 8%);
}

.course h6 {
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
    font-size: 20px;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

@media (max-width: 640px) {
    .course h2 {
        text-align: center;
    }
    .course {
        max-width: calc(100% - 4%);
    }
}

.course p {
    letter-spacing: 1px;
    margin-top: 40px;
}

.course-preview {
    background-color: #5cb85c;
    color: #fff;
    padding: 0px;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.btn-projet {
    background-color: #222e3a;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 25px;
    position: relative;
    letter-spacing: 1px;
    margin: 3px;
    cursor: default;
    display: flex;
    align-items: center;
}

.btn-projet-2 {
    background-color: #222e3a;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    letter-spacing: 1px;
    margin: 3px;
    cursor: default;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.btn-projet i {
    font-size: 24px;
}

.btn-projet-2 i {
    font-size: 26px;
}

.btn-container {
    float: right;
}

.img-projet {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.courses-container {
    transition: 0.5s;
}

.courses-container:hover {
    transform: scale(1.03);
}
